.Hackathon_wrap {
    padding-left: 70px;
    padding-right: 70px;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 30px;
            font-weight: 700;
            line-height: 150%;
            color: #ADB4E2;
            padding: 10px 0;
            border-bottom: 1px solid #ADB4E2;
            margin-bottom: 20px;
        }

        .tab_box {
            display: flex;
            justify-content: space-between;
            width: 593px;
            margin-bottom: 20px;

            button {
                width: 104px;
                height: 35px;
                border-radius: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--gray02);
                color: #666;
                font-size: 18px;
                line-height: 140%;
                font-weight: 700;
            }

            .click {
                background-color: var(--pur03);
                color: var(--white);
            }
        }

        .month {
            display: flex;
            width: 1327px;
            justify-content: space-between;
            margin-bottom: 80px;

            button {
                width: 94px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                font-weight: 700;
                color: var(--white);
                line-height: 150%;
            }

            .click {
                border-bottom: 2px solid var(--pur03);
            }
        }

        .retros {
            justify-content: center;
        }
    }


    .main {
        .content_box {
            overflow-x: auto;
            width: 100%;
            margin-bottom: 88px;

            h2 {
                border-left: 2px solid #6B69B0;
                color: var(--white);
                font-size: 24px;
                font-weight: 700;
                padding-left: 20px;
                margin-bottom: 20px;
            }

            .content_list {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
                gap: 20px;
                padding-bottom: 10px;

                .content {
                    flex: 0 0 auto;
                    width: 380px;
                    height: 248px;
                    border-radius: 12px;

                    div {
                        height: 58px;
                        width: 100%;
                        border-bottom-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                        padding: 0 20px 0 30px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background: linear-gradient(90deg, #C6B3FF 0%, #473282 100%);

                        p {
                            font-size: 18px;
                            color: var(--white);
                            font-weight: 700;
                        }

                        button {
                            width: 24px;
                        }
                    }
                }
            }

        }
    }
}

.Hac_Detail_wrap {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 1475px;
            margin-bottom: 30px;
        }

        .text_box {
            width: 1475px;
            text-align: left;
            color: var(--white);
            font-weight: 700;

            h2 {
                border-left: 3px solid #6B69B0;
                font-size: 50px;
                padding-left: 20px;
                margin-bottom: 30px;
            }

            >p {
                margin-bottom: 20px;
            }

            p {
                font-size: 30px;
                margin-bottom: 20px;
            }
        }
    }
}